.ispa-sidebar {
  width: 300px;
  padding: 20px;
  box-sizing: border-box;

  position: absolute;

  right: 0;
  top: 0;
  bottom: 0;
  /*height: 100%;*/

  background-color: #eee;
  border-left: 1px solid #ddd;

  overflow-y: scroll;
}

.ispa-sidebar .ispa-sidebar-form {
}

.ispa-sidebar .ispa-sidebar-form .ispa-item {
  margin: 20px 0;
}

.ispa-sidebar .ispa-sidebar-form .ispa-item .ispa-subtitle {
  font-size: 0.8em;
}

.ispa-sidebar .ispa-sidebar-form input, .ispa-sidebar .ispa-sidebar-form textarea {
  max-width: 240px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: #333;
  border: none;
  padding: 8px;
  margin-top: 5px;
}

.ispa-sidebar .ispa-ok-to-delete a {
  font-size: 12px;
}
