{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>InterActor</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Slabo+27px" rel="stylesheet">
  <link href="{% static "interactor_app/css/interactor.css" %}" rel="stylesheet">
  {% block css %}{% endblock %}
</head>
<body>

<!-- content -->
<div id="content">
  {% block content %}
  {% endblock %}
</div>
<!-- end content -->


<!-- sidebar -->
<div id="sidebar">
  {% block sidebar %}
  {% endblock %}

  <div id="user">
    {% if request.user.is_authenticated %}
      <div class="item">You're logged in as {{ request.user.username }}</div>
      <div class="item"><a href="{% url "dashboard" %}">Dashboard</a></div>
      <div class="item"><a href="{% url "logout" %}">Logout</a></div>
    {% else %}
      <div class="item"><a href="{% url "login" %}">Log-in</a></div>
      <div class="item"><a href="{% url "register" %}">Register</a></div>
    {% endif %}
  </div>

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
</div>
<!-- end sidebar -->


<!-- spa container -->
<div id="interactor-spa-root"></div>


<!-- javascript -->
{% block javascript %}{% endblock %}


</body>
</html>
