.ispa-graphview {
  position: relative;
}

/* Node */
.ispa-graphview .ispa-node {
  fill: white;
  stroke: #555;
  stroke-width: 1;
}

.ispa-graphview .ispa-node .ispa-halo {
  display: none;
  stroke-width: 2;
  stroke: #aaa;
  /*stroke-dasharray: 1 1;*/
  fill: none;
}

.ispa-graphview .ispa-node:hover .ispa-halo, .ispa-graphview .ispa-node.ispa-active .ispa-halo {
  display: inline;
}

.ispa-graphview .ispa-node text {
  text-anchor: middle;
  font-size: 14px;
  fill: #333;
  stroke: none;
}

/* Link */
.ispa-graphview .ispa-link .ispa-pick-layer {
  stroke-width: 40;
  opacity: 0.2;
  pointer-events: all;
}

.ispa-graphview .ispa-link .ispa-halo {
  display: none;
  stroke: #aaa;
  /*stroke-dasharray: 1 1;*/
  fill: none;
}

.ispa-graphview .ispa-link:hover .ispa-halo, .ispa-graphview .ispa-link.ispa-active .ispa-halo {
  display: inline;
}

.ispa-graphview .ispa-link .ispa-line {
  stroke: #444;
  stroke-width: 2;
}

.ispa-graphview .ispa-link .ispa-arrowhead {
  stroke: #444;
  stroke-width: 1;
  fill: none;
}

/* Group */
.ispa-graphview .ispa-group rect {
  fill: none;
  stroke: #aaa;
  stroke-width: 1;
  stroke-dasharray: 1 1;
}
.ispa-graphview .ispa-group text {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  stroke: none;
  fill: #aaa;
}
