.ispa-graphview {
  position: relative;
}

.ispa-graphview svg {
  overflow: hidden;
}

/* Node */
.ispa-graphview .ispa-node .ispa-halo {
  display: none;
  stroke-width: 2;
  stroke: #aaa;
  fill: none;
}

.ispa-graphview .ispa-node:hover .ispa-halo, .ispa-graphview .ispa-node.ispa-active .ispa-halo {
  display: inline !important;
}

/* Link */
.ispa-graphview .ispa-link .ispa-pick-layer {
  stroke-width: 40;
  pointer-events: all;
}

.ispa-graphview .ispa-link:hover .ispa-halo, .ispa-graphview .ispa-link.ispa-active .ispa-halo {
  display: inline !important;
}
